.logTitle {
  font-size: x-large;
  font-weight: bold;
}

input {
  border: none;
  border-bottom: 3px solid black;
  box-shadow: none;
  outline: none;
  background: transparent;
}
input:focus {
  border: none;
  border-bottom: 3px solid black;
  box-shadow: none;
  outline: none;
  background: transparent;
}
.buttonCustom {
  background:black;
  color: white;
  outline: none;
  box-shadow: none;
}
.buttonCustom:focus {
  background:black;
  color: white;
  outline: none;
  box-shadow: none;
}
input{
  padding: 0px;
}
