ion-tab-bar {
    --background:transparent;
    --background:#2931339d;
}
ion-icon {
    color: white;
}
ion-label {
    color: white;
}
ion-tabs {
    --background:transparent;
    --background:#293133;
}
ion-tab-button {
    --background:#293133;
}

// ion-tab-bar{
//     --background:transparent;
//     --background:#2931339d;
//     position: absolute;
//     bottom: 0;
//     width: 90%;
//     align-self: center;
//     border-radius: 20px;
//     margin-bottom:10px;
//     ion-label {
//         color: white;
//     }
// }
